
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
			</ul>

			</div>
		</div>
	<!-- ENDIF -->

	<!-- EVENT forumlist_body_category_header_before -->
	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
		<div class="forabg category-{forumrow.FORUM_ID}{% if definition.STANDARD_FORUMS_LAYOUT == 0 %} elegant{% endif %}" data-hide-description="{$HIDE_FORUM_DESCRIPTION}">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<!-- EVENT forumlist_body_category_header_row_prepend -->
					<dl class="icon">
						<dt><div class="list-inner"><!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}" data-id="{forumrow.FORUM_ID}">{forumrow.FORUM_NAME}</a><!-- ELSE -->{L_FORUM}<!-- ENDIF --></div></dt>
						<dd class="topics">{L_TOPICS}</dd>
						<dd class="posts">{L_POSTS}</dd>
						<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
					</dl>
					<!-- EVENT forumlist_body_category_header_row_append -->
				</li>
			</ul>
			<ul class="topiclist forums">
	<!-- ENDIF -->
	<!-- EVENT forumlist_body_category_header_after -->

	<!-- IF not forumrow.S_IS_CAT -->
		<!-- EVENT forumlist_body_forum_row_before -->
		<li class="row forum-{forumrow.FORUM_ID}">
			<!-- EVENT forumlist_body_forum_row_prepend -->
			<!-- DEFINE $EXTRA_DESC -->
			<!-- IF $STANDARD_FORUMS_LAYOUT == 0 and not forumrow.CLICKS and not forumrow.S_IS_LINK -->
				<div class="forum-statistics">
					<span class="dfn">{L_TOPICS}</span>{L_COLON} <span class="value">{forumrow.TOPICS}</span><span class="comma">{L_COMMA_SEPARATOR}</span>
					<span class="dfn">{L_POSTS}</span>{L_COLON} <span class="value">{forumrow.POSTS}</span>
				</div>
			<!-- ENDIF -->
			<!-- ENDDEFINE -->
			<dl class="icon {forumrow.FORUM_IMG_STYLE}{% if definition.EXTRA_DESC|trim %} elegant-row{% endif %}">
				<dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
					<!-- IF forumrow.S_UNREAD_FORUM --><a href="{forumrow.U_VIEWFORUM}" class="icon-link"></a><!-- ENDIF -->
					<div class="list-inner">
						<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><!-- <a class="feed-icon-forum" title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"></a> --><!-- ENDIF -->

						<!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><!-- ENDIF -->
						<a href="{forumrow.U_VIEWFORUM}" class="forumtitle" data-id="{forumrow.FORUM_ID}">{forumrow.FORUM_NAME}</a>
						<!-- IF forumrow.FORUM_DESC --><div class="forum-description">{forumrow.FORUM_DESC}</div><!-- ENDIF -->
						{$EXTRA_DESC}
						<!-- IF forumrow.MODERATORS -->
							<div class="forum-moderators"><strong>{forumrow.L_MODERATOR_STR}{L_COLON}</strong> {forumrow.MODERATORS}</div>
						<!-- ENDIF -->
						<!-- IF .forumrow.subforum and forumrow.S_LIST_SUBFORUMS -->
							<div class="subforums-list">
							<!-- EVENT forumlist_body_subforums_before -->
							<strong>{forumrow.L_SUBFORUM_STR}{L_COLON}</strong>
							<ul>
							<!-- BEGIN subforum -->
								<li><a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">{forumrow.subforum.SUBFORUM_NAME}</a><!-- IF not forumrow.subforum.S_LAST_ROW --><span>{L_COMMA_SEPARATOR}</span><!-- ENDIF --></li>
							<!-- END subforum -->
							</ul>
							<!-- EVENT forumlist_body_subforums_after -->
							</div>
						<!-- ENDIF -->

						<!-- IF not S_IS_BOT -->
						{% if definition.EXTRA_DESC|trim == '' %}
						<div class="responsive-show" style="display: none;">
							<!-- IF forumrow.CLICKS -->
								{L_REDIRECTS}{L_COLON} <strong>{forumrow.CLICKS}</strong>
							<!-- ELSEIF not forumrow.S_IS_LINK and forumrow.TOPICS -->
								{L_TOPICS}{L_COLON} <strong>{forumrow.TOPICS}</strong>
							<!-- ENDIF -->
						</div>
						{% endif %}
							<!-- IF not forumrow.S_IS_LINK and forumrow.LAST_POST_TIME -->
							<div class="forum-lastpost" style="display: none;">
								<span><strong>{L_LAST_POST}{L_COLON}</strong> <a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a></span>
								<span>{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}, {forumrow.LAST_POST_TIME}</span>
							</div>
							<!-- ENDIF -->
						<!-- ENDIF -->

						<!-- IF forumrow.U_UNAPPROVED_TOPICS -->
							<a href="{forumrow.U_UNAPPROVED_TOPICS}" class="forum-mcplink">{UNAPPROVED_IMG}</a>
						<!-- ELSEIF forumrow.U_UNAPPROVED_POSTS -->
							<a href="{forumrow.U_UNAPPROVED_POSTS}" class="forum-mcplink">{UNAPPROVED_POST_IMG}</a>
						<!-- ENDIF -->
					</div>
				</dt>
				<!-- IF forumrow.CLICKS -->
					<dd class="redirect"><span>{L_REDIRECTS}{L_COLON} {forumrow.CLICKS}</span></dd>
				<!-- ELSEIF not forumrow.S_IS_LINK -->
					<!-- IF $STANDARD_FORUMS_LAYOUT != 0 -->
					<dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
					<dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
					<!-- ENDIF -->
					<dd class="lastpost"><span>
						<!-- IF forumrow.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn>
						<!-- IF forumrow.S_DISPLAY_SUBJECT -->
							<!-- EVENT forumlist_body_last_post_title_prepend -->
							<a href="{forumrow.U_LAST_POST}" title="{forumrow.LAST_POST_SUBJECT}" class="lastsubject">{forumrow.LAST_POST_SUBJECT_TRUNCATED}</a> <br />
						<!-- ENDIF --> 
						{L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br />{forumrow.LAST_POST_TIME}<!-- ELSE -->{L_NO_POSTS}<br />&nbsp;<!-- ENDIF --></span>
					</dd>
				<!-- ELSE -->
					<dd>&nbsp;</dd>
				<!-- ENDIF -->
			</dl>
			<!-- EVENT forumlist_body_forum_row_append -->
		</li>
		<!-- EVENT forumlist_body_forum_row_after -->
	<!-- ENDIF -->

	<!-- IF forumrow.S_LAST_ROW -->
			</ul>

			</div>
		</div>
	<!-- EVENT forumlist_body_last_row_after -->
	<!-- ENDIF -->

<!-- BEGINELSE -->

<!-- END forumrow -->
